# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

# Django specific
*.log
db.sqlite3
staticfiles/
media/

# Environment
.env
.venv/
venv/
ENV/
env/
*.env

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Byte-compiled / optimized / DLL files
*.pyd
*.pyo
*.so

# Coverage reports
htmlcov/
.coverage
.tox/
.nox/
.cache/
pytest_cache/

# MySQL dump file (if you export DB)
*.sql
